@import "~toastr/build/toastr.css";
@import "~bootswatch/dist/slate/variables";

// Delete some Bootswatch values so the Bootstrap defaults get picked up.
$font-family-sans-serif: null;
$font-size-base: null;
$input-btn-padding-y: null;
$input-btn-padding-x: null;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";

// Bootswatch/Slate fixup: The border around disabled buttons was different
//   than on enabled buttons. Make it consistent.
.btn, .btn:disabled {
  border: 1px $gray-600 solid;
}

@import "./common";

.navbar {
  @extend .navbar-dark;
  @extend .bg-dark;

  // Bootswatch adds spacers between nav-links. Remove them.
  .nav-link, .navbar-brand {
    border: 0px;
  }
}

.card-header {
  color: white;
}
